input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 10px;
  padding: 5px;
  height: unset;
  width: unset;
  border-width: 1px;
  border-style: solid;
  border-color: initial;
  -o-border-image: initial;
     border-image: initial;
  border-radius: 4px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]) {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 1px solid #999;
}

input:focus {
  border-bottom: unset;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

#nununi-searchbar {
  padding: 30px 20px 10px;
}
#nununi-searchbar .nununi-searchbar-wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
}
#nununi-searchbar .nununi-searchbar-iconwrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#nununi-searchbar .nununi-searchbar-iconwrapper .search {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
#nununi-searchbar .react-autosuggest__container {
  height: 100%;
}
#nununi-searchbar .react-autosuggest__input {
  margin: 0;
  width: 200px;
  height: 100%;
  border: 3px solid #aaa;
}

#cupid-classify {
  padding: 10px 20px;
}
#cupid-classify > div {
  background-color: #eee;
  padding: 20px 0;
  border-radius: 4px;
  -webkit-box-shadow: #cccccc 1px 1px 3px;
          box-shadow: #cccccc 1px 1px 3px;
}
#cupid-classify .cupid-tag {
  margin: 5px 10px;
  -webkit-box-shadow: #cccccc 1px 1px 3px;
          box-shadow: #cccccc 1px 1px 3px;
}
#cupid-classify .cupid-tag:hover {
  color: #ee5d84;
  background-color: #fff;
}

#nununi-productlist {
  padding: 10px 20px;
}
#nununi-productlist .nununi-display {
  margin: 0 20px;
  background-color: #ddd;
  border-radius: 4px;
}
#nununi-productlist .nununi-display-icon {
  margin: 0 3px;
  -webkit-transform: scale(0.8, 0.8);
          transform: scale(0.8, 0.8);
}
#nununi-productlist .nununi-priceinput {
  width: 80px;
  height: 35px;
}
#nununi-productlist .nununi-pricesubmit {
  width: 60px;
}
#nununi-productlist .nununi-listwrapper {
  margin: 30px 0 0 0;
}
#nununi-productlist .nununi-pagination-page {
  width: 3rem;
  height: 2rem;
}
#nununi-productlist .nununi-pagination-page.selected > a {
  color: #fff;
  background-color: #ee6e73;
}
#nununi-productlist .nununi-pagination-page.break {
  opacity: 0.5;
}
#nununi-productlist .nununi-pagination-link {
  color: rgba(0, 0, 0, 0.6);
  line-height: 2rem;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

/*# sourceMappingURL=/demo.css.map */