header .header-nav {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 20px;
  width: 100%;
  max-width: 100%;
  height: 84px;
}
header .brand-logo {
  height: 64px;
}

footer {
  text-align: center;
}
footer > .container {
  width: 100%;
}
footer .category {
  font-weight: bold;
}
footer .link {
  cursor: pointer;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
footer .link:hover {
  opacity: 0.4;
}
footer .contact {
  padding: 0 10px 10px;
}
